In [2]:
import pymysql
import pandas as pd
import matplotlib.pyplot as plt

_db = pymysql.connect(
      user = 'root',
      passwd ='qwer1234',
      host='localhost',
      db = 'ubion'
)

cursor = _db.cursor(pymysql.cursors.DictCursor)

In [3]:
sql = '''SELECT * FROM corona 
        where updateDt<'2021-10-5 00:00:00'
        '''
cursor.execute(sql)
result=cursor.fetchall()
df = pd.DataFrame(result)
df

,MyUnknownColumn,createDt,deathCnt,decideCnt,seq,stateDt,stateTime,updateDt,accExamCnt,accDefRate
0,19,2022-02-09 10:37:00.08,6943,1131239,784,20220209,00:00,,,
1,79,2021-12-11 06:19:00.000,4210,510578,724,20211211,00:00,,18024403,
2,124,2021-10-27 10:10:24.763,2797,356300,679,20211027,00:00,2021-10-30 09:44:12.063,15628306,2.5019099621
3,125,2021-10-26 09:39:33.439,2788,354355,677,20211026,00:00,2021-10-26 19:11:36.585,15579430,2.4932471843
4,126,2021-10-25 09:45:03.736,2773,353083,676,20211025,00:00,2021-10-30 09:44:54.809,15530472,2.4931384199
...,...,...,...,...,...,...,...,...,...,...
586,715,2020-03-14 00:00:00.000,72,8086,55,20200314,00:00,2021-10-07 10:30:51.51,261335,3.318000336
587,716,2020-03-13 00:00:00.000,67,7979,54,20200313,00:00,2021-10-07 10:30:51.51,248647,3.458499309
588,717,2020-03-12 00:00:00.000,66,7869,53,20200312,00:00,2021-10-07 10:30:51.51,234998,3.621744273
589,718,2020-03-11 00:00:00.000,60,7755,52,20200311,00:00,2021-10-07 10:30:51.51,222395,3.804174536
590,719,2020-03-10 00:00:00.000,54,7513,51,20200310,00:00,2021-10-07 10:30:51.51,210144,3.919308057

In [4]:
df.columns = ['index','생성날짜','사망집계','누적사망','순서','날짜','시간','업데이트시각','누적확진자','누적확진률']
df.drop(['index','순서','날짜','시간','업데이트시각'], axis=1, inplace=True)
df

                        생성날짜  사망집계     누적사망     누적확진자         누적확진률
0     2022-02-09 10:37:00.08  6943  1131239
1    2021-12-11 06:19:00.000  4210   510578  18024403
2    2021-10-27 10:10:24.763  2797   356300  15628306  2.5019099621
3    2021-10-26 09:39:33.439  2788   354355  15579430  2.4932471843
4    2021-10-25 09:45:03.736  2773   353083  15530472  2.4931384199
..                       ...   ...      ...       ...           ...
586  2020-03-14 00:00:00.000    72     8086    261335   3.318000336
587  2020-03-13 00:00:00.000    67     7979    248647   3.458499309
588  2020-03-12 00:00:00.000    66     7869    234998   3.621744273
589  2020-03-11 00:00:00.000    60     7755    222395   3.804174536
590  2020-03-10 00:00:00.000    54     7513    210144   3.919308057

[591 rows x 5 columns]

In [5]:
df.sort_values('생성날짜',ascending=False, inplace=True)

x = df['생성날짜']
y = df['누적사망']
print(x)

0       2022-02-09 10:37:00.08
1      2021-12-11 06:19:00.000
2      2021-10-27 10:10:24.763
3      2021-10-26 09:39:33.439
4      2021-10-25 09:45:03.736
                ...
586    2020-03-14 00:00:00.000
587    2020-03-13 00:00:00.000
588    2020-03-12 00:00:00.000
589    2020-03-11 00:00:00.000
590    2020-03-10 00:00:00.000
Name: 생성날짜, Length: 591, dtype: object