1번 문제
========
1. num_1 폴더의 uriage 파일을 pandas를 이용하여 데이터프레임으로 불러온다. 
2. purchase_date 컬럼의 데이터 타입을 datetime을 변경한다. 
3. item_name 컬럼의 값을 대문자로 변경한다. 
4. item_name 컬럼의 공백을 지워준다. 
5. item_name 컬럼을 기준으로 오름차순 정렬한다. 
6. 데이터의 결측치가 존재하는지 확인한다. 
7. item_price 컬럼의 결측치의 값을 해당하는 item_name의 맥스값으로 치환하여 준다.

In [88]:
import pandas as pd
uriage = pd.read_csv('./num_1/uriage.csv')
uriage['purchase_date']=pd.to_datetime(uriage['purchase_date'])
uriage['item_name']=uriage['item_name'].str.upper()
uriage['item_name']=uriage['item_name'].apply(lambda a: a.replace(' ',''))
uriage['item_name'].sort_values(ascending=False,)
uriage.isna().sum()
uriage['item_price'].fillna(2600,inplace=True)

uriage

           purchase_date item_name  item_price customer_name
0    2019-06-13 18:02:00       상품A       100.0           김가온
1    2019-07-13 13:05:00       상품S      2600.0           김우찬
2    2019-05-11 19:42:00       상품A      2600.0           김유찬
3    2019-02-12 23:40:00       상품Z      2600.0           김재현
4    2019-04-22 03:09:00       상품A      2600.0           김강현
...                  ...       ...         ...           ...
2994 2019-02-15 02:56:00       상품Y      2500.0           김정민
2995 2019-06-22 04:03:00       상품M      1300.0           김재원
2996 2019-03-29 11:14:00       상품Q      2600.0           김지율
2997 2019-07-14 12:56:00       상품H      2600.0           김승주
2998 2019-07-21 00:31:00       상품D       400.0           정준기

[2999 rows x 4 columns]

2번 문제 
===========

1. transaction 폴더 내에 있는 csv 파일을 모두 데이터프렘으로 불러온다. 
2. transaction_1과 transaction_2를 유니언 결합을 한다. 
3. transaction_detail_1과 transaction_detail_2를 유니언 결합을 한다. 
4. 2,3 번의 데이터프레임의 값을 조인 결합을 한다. 
5. 4번 작업한 데이터프레임을 customer_master, item_master 와 조인 결합한다. 
6. quantity와 item_price의 곱한 값으로 price라는 컬럼을 생성한다. 
7. payment_date컬럼의 데이터형태를 datetime으로 변경한다. 
8. payment_date값의 년 월값만 추출하여 payment_month 컬럼을 생성한다. 
9. groupby를 이용하여 월별, 상품별 price와 quantity의 합계를 출력한다.

In [87]:
import pandas as pd

customer_master = pd.read_csv('./num_2/customer_master.csv')
item_master = pd.read_csv('./num_2/item_master.csv')
transaction_1 = pd.read_csv('./num_2/transaction_1.csv')
transaction_2 = pd.read_csv('./num_2/transaction_2.csv')
transaction_detail_1 = pd.read_csv('./num_2/transaction_detail_1.csv')
transaction_detail_2 = pd.read_csv('./num_2/transaction_detail_2.csv')


transaction = pd.concat([transaction_1,transaction_2],axis=0)
transaction_detail = pd.concat([transaction_detail_1,transaction_detail_2],axis=0)

print(transaction['transaction_id'].isna().count())
print(transaction_detail['transaction_id'].count())
transaction_df = transaction.merge(transaction_detail,on='transaction_id',how='left')


transaction_df2 = transaction_df.merge(customer_master,on='customer_id',how='left')

transaction_df3 = transaction_df2.merge(item_master,on='item_id',how='left')

transaction_df3['price']=transaction_df3['quantity']*transaction_df3['item_price']


transaction_df3['payment_date']= pd.to_datetime(transaction_df3['payment_date'])


transaction_df3['payment_month']=

6786
7144

3번 문제
==========

1. num_3 폴더내의 drink 파일을 데이터프레임으로 불러온다. 
2. 대륙 컬럼인 continent 결측 데이터를 OT로 지정한다. 
3. 대륙별 spirit_servings의 평균, 최소, 최대, 합계를 계산한다. 
4. 전체 평균보다 많은 알코올 섭취하는 대륙을 구한다. 
5. 3번 과정의 데이터를 바그래프를 이용하여 시각화 한다.