In [1]:
a = 10
a

10

In [2]:
def func_1():
    return "test"

b = func_1()
b

'test'

In [3]:
def func_2(a, b):
    return a+b

c = func_2(3, 2)
c

5

In [5]:
x = ""

if x:
    print("데이터가 존재")
else:
    print("데이터가 존재X")

데이터가 존재X

In [6]:
for i in range(0, 10, 3):
    print(i)

0
3
6
9

In [8]:
_list = [7,8,9,1,2]

for i in _list:
    print(i)

7
8
9
1
2

In [10]:
a = [1,2,3,4,5,6]

for i in a:
    for j in a:
        if (i+j)%5 == 0:
            print(i, j)

1 4
2 3
3 2
4 1
4 6
5 5
6 4

In [16]:
sum = 0
x = -1

while x < 11:
    x += 1
    sum += x

print(sum)

66

In [17]:
sum = 0
for i in range(1, 100, 1):
    sum += i
    if sum >= 700:
        print(i)
        break
    else:
        continue

37

In [18]:
for i in range(1, 10, 1):
    if i < 3:
        continue
    print(i)

3
4
5
6
7
8
9

In [19]:
import yfinance as yf

In [20]:
yf.download('AAPL', start= '2019-01-01')

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2018-12-31,39.632500,39.840000,39.119999,39.435001,38.233898,140014000
2019-01-02,38.722500,39.712502,38.557499,39.480000,38.277523,148158800
2019-01-03,35.994999,36.430000,35.500000,35.547501,34.464798,365248800
2019-01-04,36.132500,37.137501,35.950001,37.064999,35.936085,234428400
2019-01-07,37.174999,37.207500,36.474998,36.982498,35.856087,219111200
...,...,...,...,...,...,...
2022-03-14,151.449997,154.119995,150.100006,150.619995,150.619995,108732100
2022-03-15,150.899994,155.570007,150.380005,155.089996,155.089996,92964300
2022-03-16,157.050003,160.000000,154.460007,159.589996,159.589996,102300200
2022-03-17,158.610001,161.000000,157.630005,160.619995,160.619995,75615400
2022-03-18,160.509995,164.479996,159.759995,163.979996,163.979996,123351200

In [28]:
data = yf.download(["AAPL", "TSLA", "AMZN", "CPNG"], start="2019-01-01")
data

[*********************100%***********************]  4 of 4 completed

             Adj Close                                           Close  \
                  AAPL         AMZN       CPNG        TSLA        AAPL
Date
2018-12-31   38.233894  1501.969971        NaN   66.559998   39.435001
2019-01-02   38.277519  1539.130005        NaN   62.023998   39.480000
2019-01-03   34.464806  1500.280029        NaN   60.071999   35.547501
2019-01-04   35.936077  1575.390015        NaN   63.537998   37.064999
2019-01-07   35.856087  1629.510010        NaN   66.991997   36.982498
...                ...          ...        ...         ...         ...
2022-03-14  150.619995  2837.060059  16.120001  766.369995  150.619995
2022-03-15  155.089996  2947.330078  15.450000  801.890015  155.089996
2022-03-16  159.589996  3062.080078  18.090000  840.229980  159.589996
2022-03-17  160.619995  3144.780029  19.200001  871.599976  160.619995
2022-03-18  163.979996  3225.010010  19.240000  905.390015  163.979996

                                                      High               ...  \
                   AMZN       CPNG        TSLA        AAPL         AMZN  ...
Date                                                                     ...
2018-12-31  1501.969971        NaN   66.559998   39.840000  1520.760010  ...
2019-01-02  1539.130005        NaN   62.023998   39.712502  1553.359985  ...
2019-01-03  1500.280029        NaN   60.071999   36.430000  1538.000000  ...
2019-01-04  1575.390015        NaN   63.537998   37.137501  1594.000000  ...
2019-01-07  1629.510010        NaN   66.991997   37.207500  1634.560059  ...
...                 ...        ...         ...         ...          ...  ...
2022-03-14  2837.060059  16.120001  766.369995  154.119995  2949.000000  ...
2022-03-15  2947.330078  15.450000  801.890015  155.570007  2959.699951  ...
2022-03-16  3062.080078  18.090000  840.229980  160.000000  3063.000000  ...
2022-03-17  3144.780029  19.200001  871.599976  161.000000  3149.969971  ...
2022-03-18  3225.010010  19.240000  905.390015  164.479996  3231.879883  ...

               Low                    Open                          \
              CPNG        TSLA        AAPL         AMZN       CPNG
Date
2018-12-31     NaN   65.052002   39.632500  1510.800049        NaN
2019-01-02     NaN   59.759998   38.722500  1465.199951        NaN
2019-01-03     NaN   59.476002   35.994999  1520.010010        NaN
2019-01-04     NaN   60.546001   36.132500  1530.000000        NaN
2019-01-07     NaN   63.549999   37.174999  1602.310059        NaN
...            ...         ...         ...          ...        ...
2022-03-14  15.920  756.039978  151.449997  2919.620117  17.040001
2022-03-15  15.275  756.570007  150.899994  2857.000000  16.070000
2022-03-16  15.820  802.260010  157.050003  2970.000000  16.000000
2022-03-17  17.400  825.719971  158.610001  3052.810059  17.680000
2022-03-18  18.490  867.390015  160.509995  3136.260010  18.629999

                           Volume
                  TSLA       AAPL     AMZN        CPNG      TSLA
Date
2018-12-31   67.557999  140014000  6954500         NaN  31511500
2019-01-02   61.220001  148158800  7983100         NaN  58293000
2019-01-03   61.400002  365248800  6975600         NaN  34826000
2019-01-04   61.200001  234428400  9182600         NaN  36970500
2019-01-07   64.344002  219111200  7993200         NaN  37756000
...                ...        ...      ...         ...       ...
2022-03-14  780.609985  108732100  3704300  17621600.0  23717400
2022-03-15  775.270020   92964300  3779200  30197600.0  22280400
2022-03-16  809.000000  102300200  4247900  40631500.0  28009600
2022-03-17  830.989990   75615400  3646700  19894800.0  22194300
2022-03-18  874.489990  123351200  5141300  16530900.0  33408500

[811 rows x 24 columns]

In [26]:
data['Close']['AAPL']

Date
2018-12-31     39.435001
2019-01-02     39.480000
2019-01-03     35.547501
2019-01-04     37.064999
2019-01-07     36.982498
                 ...
2022-03-14    150.619995
2022-03-15    155.089996
2022-03-16    159.589996
2022-03-17    160.619995
2022-03-18    163.979996
Name: AAPL, Length: 811, dtype: float64

In [29]:
aapl = yf.Ticker("AAPL")

In [30]:
aapl.dividends

Date
1987-05-11    0.000536
1987-08-10    0.000536
1987-11-17    0.000714
1988-02-12    0.000714
1988-05-16    0.000714
                ...
2021-02-05    0.205000
2021-05-07    0.220000
2021-08-06    0.220000
2021-11-05    0.220000
2022-02-04    0.220000
Name: Dividends, Length: 74, dtype: float64

In [31]:
aapl.splits

Date
1987-06-16    2.0
2000-06-21    2.0
2005-02-28    2.0
2014-06-09    7.0
2020-08-31    4.0
Name: Stock Splits, dtype: float64

In [32]:
aapl.recommendations

                                    Firm      To Grade From Grade Action
Date
2012-02-09 08:17:00    Canaccord Genuity           Buy              main
2012-03-08 07:33:00       FBN Securities    Outperform              main
2012-03-13 06:08:00            Jefferies           Buy              main
2012-03-14 06:13:00       Morgan Stanley    Overweight              main
2012-03-14 08:21:00    Canaccord Genuity           Buy              main
...                                  ...           ...        ...    ...
2022-01-28 14:19:01  New Street Research       Neutral       Sell     up
2022-01-28 15:10:56          Oppenheimer    Outperform              main
2022-01-31 15:44:19        Credit Suisse       Neutral              main
2022-02-15 15:31:58    Tigress Financial    Strong Buy              main
2022-03-11 11:57:08             Barclays  Equal-Weight              main

[831 rows x 4 columns]

In [33]:
aapl.info

{'zip': '95014',
 'sector': 'Technology',
 'fullTimeEmployees': 100000,
 'longBusinessSummary': 'Apple Inc. designs, manufactures, and markets smartphones, personal computers, tablets, wearables, and accessories worldwide. It also sells various related services. In addition, the company offers iPhone, a line of smartphones; Mac, a line of personal computers; iPad, a line of multi-purpose tablets; AirPods Max, an over-ear wireless headphone; and wearables, home, and accessories comprising AirPods, Apple TV, Apple Watch, Beats products, HomePod, and iPod touch. Further, it provides AppleCare support services; cloud services store services; and operates various platforms, including the App Store that allow customers to discover and download applications and digital content, such as books, music, video, games, and podcasts. Additionally, the company offers various services, such as Apple Arcade, a game subscription service; Apple Music, which offers users a curated listening experience with on-demand radio stations; Apple News+, a subscription news and magazine service; Apple TV+, which offers exclusive original content; Apple Card, a co-branded credit card; and Apple Pay, a cashless payment service, as well as licenses its intellectual property. The company serves consumers, and small and mid-sized businesses; and the education, enterprise, and government markets. It distributes third-party applications for its products through the App Store. The company also sells its products through its retail and online stores, and direct sales force; and third-party cellular network carriers, wholesalers, retailers, and resellers. Apple Inc. was incorporated in 1977 and is headquartered in Cupertino, California.',
 'city': 'Cupertino',
 'phone': '408 996 1010',
 'state': 'CA',
 'country': 'United States',
 'companyOfficers': [],
 'website': 'https://www.apple.com',
 'maxAge': 1,
 'address1': 'One Apple Park Way',
 'industry': 'Consumer Electronics',
 'ebitdaMargins': 0.33890998,
 'profitMargins': 0.26579002,
 'grossMargins': 0.43019,
 'operatingCashflow': 112241000448,
 'revenueGrowth': 0.112,
 'operatingMargins': 0.309,
 'ebitda': 128217997312,
 'targetLowPrice': 160,
 'recommendationKey': 'buy',
 'grossProfits': 152836000000,
 'freeCashflow': 80153247744,
 'targetMedianPrice': 199.5,
 'currentPrice': 163.98,
 'earningsGrowth': 0.25,
 'currentRatio': 1.038,
 'returnOnAssets': 0.19875,
 'numberOfAnalystOpinions': 44,
 'targetMeanPrice': 193.53,
 'debtToEquity': 170.714,
 'returnOnEquity': 1.45567,
 'targetHighPrice': 215,
 'totalCash': 63913000960,
 'totalDebt': 122797998080,
 'totalRevenue': 378323009536,
 'totalCashPerShare': 3.916,
 'financialCurrency': 'USD',
 'revenuePerShare': 22.838,
 'quickRatio': 0.875,
 'recommendationMean': 1.8,
 'exchange': 'NMS',
 'shortName': 'Apple Inc.',
 'longName': 'Apple Inc.',
 'exchangeTimezoneName': 'America/New_York',
 'exchangeTimezoneShortName': 'EDT',
 'isEsgPopulated': False,
 'gmtOffSetMilliseconds': '-14400000',
 'quoteType': 'EQUITY',
 'symbol': 'AAPL',
 'messageBoardId': 'finmb_24937',
 'market': 'us_market',
 'annualHoldingsTurnover': None,
 'enterpriseToRevenue': 7.229,
 'beta3Year': None,
 'enterpriseToEbitda': 21.33,
 '52WeekChange': 0.32895696,
 'morningStarRiskRating': None,
 'forwardEps': 6.56,
 'revenueQuarterlyGrowth': None,
 'sharesOutstanding': 16319399936,
 'fundInceptionDate': None,
 'annualReportExpenseRatio': None,
 'totalAssets': None,
 'bookValue': 4.402,
 'sharesShort': 110322490,
 'sharesPercentSharesOut': 0.0068,
 'fundFamily': None,
 'lastFiscalYearEnd': 1632528000,
 'heldPercentInstitutions': 0.59438,
 'netIncomeToCommon': 100554997760,
 'trailingEps': 6.015,
 'lastDividendValue': 0.22,
 'SandP52WeekChange': 0.13260198,
 'priceToBook': 37.251247,
 'heldPercentInsiders': 0.0007,
 'nextFiscalYearEnd': 1695600000,
 'yield': None,
 'mostRecentQuarter': 1640390400,
 'shortRatio': 1.2,
 'sharesShortPreviousMonthDate': 1643587200,
 'floatShares': 16302795170,
 'beta': 1.185531,
 'enterpriseValue': 2734947041280,
 'priceHint': 2,
 'threeYearAverageReturn': None,
 'lastSplitDate': 1598832000,
 'lastSplitFactor': '4:1',
 'legalType': None,
 'lastDividendDate': 1643932800,
 'morningStarOverallRating': None,
 'earningsQuarterlyGrowth': 0.204,
 'priceToSalesTrailing12Months': 7.0734663,
 'dateShortInterest': 1646006400,
 'pegRatio': 1.76,
 'ytdReturn': None,
 'forwardPE': 24.99695,
 'lastCapGain': None,
 'shortPercentOfFloat': 0.0068,
 'sharesShortPriorMonth': 91388112,
 'impliedSharesOutstanding': 0,
 'category': None,
 'fiveYearAverageReturn': None,
 'previousClose': 160.62,
 'regularMarketOpen': 160.51,
 'twoHundredDayAverage': 154.44424,
 'trailingAnnualDividendYield': 0.005385382,
 'payoutRatio': 0.1434,
 'volume24Hr': None,
 'regularMarketDayHigh': 164.48,
 'navPrice': None,
 'averageDailyVolume10Day': 102416350,
 'regularMarketPreviousClose': 160.62,
 'fiftyDayAverage': 166.5874,
 'trailingAnnualDividendRate': 0.865,
 'open': 160.51,
 'toCurrency': None,
 'averageVolume10days': 102416350,
 'expireDate': None,
 'algorithm': None,
 'dividendRate': 0.88,
 'exDividendDate': 1643932800,
 'circulatingSupply': None,
 'startDate': None,
 'regularMarketDayLow': 159.76,
 'currency': 'USD',
 'trailingPE': 27.261845,
 'regularMarketVolume': 123511692,
 'lastMarket': None,
 'maxSupply': None,
 'openInterest': None,
 'marketCap': 2676055080960,
 'volumeAllCurrencies': None,
 'strikePrice': None,
 'averageVolume': 93071551,
 'dayLow': 159.76,
 'ask': 164.34,
 'askSize': 1400,
 'volume': 123511692,
 'fiftyTwoWeekHigh': 182.94,
 'fromCurrency': None,
 'fiveYearAvgDividendYield': 1.13,
 'fiftyTwoWeekLow': 118.86,
 'bid': 164.28,
 'tradeable': False,
 'dividendYield': 0.0054,
 'bidSize': 900,
 'dayHigh': 164.48,
 'regularMarketPrice': 163.98,
 'preMarketPrice': None,
 'logo_url': 'https://logo.clearbit.com/apple.com',
 'trailingPegRatio': 3.0052}

In [34]:
aapl.history(period='max')

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
1980-12-12,0.100323,0.100759,0.100323,0.100323,469033600,0.0,0.0
1980-12-15,0.095525,0.095525,0.095089,0.095089,175884800,0.0,0.0
1980-12-16,0.088546,0.088546,0.088110,0.088110,105728000,0.0,0.0
1980-12-17,0.090291,0.090727,0.090291,0.090291,86441600,0.0,0.0
1980-12-18,0.092908,0.093345,0.092908,0.092908,73449600,0.0,0.0
...,...,...,...,...,...,...,...
2022-03-14,151.449997,154.119995,150.100006,150.619995,108732100,0.0,0.0
2022-03-15,150.899994,155.570007,150.380005,155.089996,92964300,0.0,0.0
2022-03-16,157.050003,160.000000,154.460007,159.589996,102300200,0.0,0.0
2022-03-17,158.610001,161.000000,157.630005,160.619995,75615400,0.0,0.0
2022-03-18,160.509995,164.479996,159.759995,163.979996,123351200,0.0,0.0

In [35]:
cpng = yf.Ticker("CPNG")

In [45]:
import pandas as pd
result = cpng.info

In [44]:
pd.Series(result)

zip                                                                05510
sector                                                 Consumer Cyclical
fullTimeEmployees                                                  68000
longBusinessSummary    Coupang, Inc. owns and operates in e-commerce ...
city                                                               Seoul
                                             ...
bidSize                                                             1000
dayHigh                                                            19.92
regularMarketPrice                                                 19.24
preMarketPrice                                                      None
logo_url                           https://logo.clearbit.com/coupang.com
Length: 151, dtype: object

In [38]:
cpng.history(start = "2022-01-01")

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2021-12-31,29.660000,30.225000,29.340000,29.379999,3890800,0,0
2022-01-03,29.650000,29.650000,28.410000,28.719999,4278100,0,0
2022-01-04,28.570000,28.700001,26.379999,26.410000,11873200,0,0
2022-01-05,26.700001,26.816999,25.389999,25.610001,9257300,0,0
2022-01-06,25.510000,25.889999,24.510000,25.660000,7126900,0,0
2022-01-07,25.629999,26.295000,25.549999,25.969999,6481700,0,0
2022-01-10,25.559999,25.629999,22.879999,24.120001,16072900,0,0
2022-01-11,23.879999,25.094999,23.879999,25.049999,7363900,0,0
2022-01-12,25.135000,25.480000,23.379999,23.440001,10391600,0,0
2022-01-13,23.490000,23.559999,22.275000,22.420000,10094100,0,0
2022-01-14,22.139999,22.330000,20.709999,21.209999,14656700,0,0
2022-01-18,20.799999,21.379999,20.190001,20.610001,9832000,0,0
2022-01-19,20.700001,21.360001,20.490000,20.490000,10710700,0,0
2022-01-20,21.000000,21.030001,19.955000,19.990000,11526800,0,0
2022-01-21,19.900000,19.940001,18.070000,18.100000,11919100,0,0
2022-01-24,16.875000,18.379999,16.610001,18.350000,17235800,0,0
2022-01-25,17.879999,18.770000,17.809999,18.740000,13587500,0,0
2022-01-26,19.049999,19.219999,18.580000,18.850000,15881300,0,0
2022-01-27,18.900000,19.200001,18.610001,18.990000,15846600,0,0
2022-01-28,18.900000,19.160000,18.110001,18.920000,14162100,0,0
2022-01-31,19.290001,20.830000,19.219999,20.820000,10983100,0,0
2022-02-01,20.530001,21.340000,20.450001,21.299999,11573500,0,0
2022-02-02,21.500000,21.500000,20.260000,21.030001,10301900,0,0
2022-02-03,20.400000,20.535999,19.959999,19.990000,8976100,0,0
2022-02-04,20.240000,20.920000,19.760000,20.840000,7153400,0,0
2022-02-07,20.879999,21.340000,20.584999,20.900000,7537800,0,0
2022-02-08,20.980000,21.600000,20.870001,21.549999,4712500,0,0
2022-02-09,21.879999,22.530001,21.820000,22.500000,5428500,0,0
2022-02-10,21.875000,23.350000,21.799999,23.190001,12782100,0,0
2022-02-11,22.780001,23.594999,22.405001,22.549999,10404800,0,0
2022-02-14,22.209999,23.090000,21.959999,22.860001,5393000,0,0
2022-02-15,23.299999,23.700001,23.021999,23.680000,4981500,0,0
2022-02-16,23.480000,23.500000,22.760000,23.139999,7222600,0,0
2022-02-17,23.370001,23.750000,23.120001,23.270000,6600700,0,0
2022-02-18,23.280001,23.400000,22.670000,22.990000,12975800,0,0
2022-02-22,22.450001,22.790001,21.090000,21.930000,16962600,0,0
2022-02-23,22.000000,23.360001,22.000000,22.639999,12311700,0,0
2022-02-24,21.299999,23.969999,21.250000,23.639999,13316400,0,0
2022-02-25,23.180000,25.004999,23.180000,25.000000,13532400,0,0
2022-02-28,24.920000,26.735001,24.660000,26.520000,14578200,0,0
2022-03-01,26.440001,27.120001,25.270000,25.459999,10973700,0,0
2022-03-02,25.730000,25.730000,24.764999,25.410000,8348800,0,0
2022-03-03,25.100000,26.559999,23.650000,25.469999,16151300,0,0
2022-03-04,24.799999,24.959999,20.940001,21.100000,18254800,0,0
2022-03-07,21.100000,21.230000,19.139999,19.719999,12657200,0,0
2022-03-08,19.530001,20.889999,18.660000,20.540001,10024000,0,0
2022-03-09,21.900000,23.355000,21.320000,22.700001,10945200,0,0
2022-03-10,19.910000,20.000000,17.820000,18.940001,32862600,0,0
2022-03-11,19.330000,19.490000,17.190001,17.420000,18909600,0,0
2022-03-14,17.040001,17.488001,15.920000,16.120001,17621600,0,0
2022-03-15,16.070000,16.959999,15.275000,15.450000,30197600,0,0
2022-03-16,16.000000,18.120001,15.820000,18.090000,40631500,0,0
2022-03-17,17.680000,19.245001,17.400000,19.200001,19894800,0,0
2022-03-18,18.629999,19.920000,18.490000,19.240000,16530900,0,0

In [46]:
import pyupbit as upbit

In [47]:
upbit.get_tickers(fiat='KRW')

['KRW-BTC',
 'KRW-ETH',
 'KRW-NEO',
 'KRW-MTL',
 'KRW-LTC',
 'KRW-XRP',
 'KRW-ETC',
 'KRW-OMG',
 'KRW-SNT',
 'KRW-WAVES',
 'KRW-XEM',
 'KRW-QTUM',
 'KRW-LSK',
 'KRW-STEEM',
 'KRW-XLM',
 'KRW-ARDR',
 'KRW-ARK',
 'KRW-STORJ',
 'KRW-GRS',
 'KRW-REP',
 'KRW-ADA',
 'KRW-SBD',
 'KRW-POWR',
 'KRW-BTG',
 'KRW-ICX',
 'KRW-EOS',
 'KRW-TRX',
 'KRW-SC',
 'KRW-ONT',
 'KRW-ZIL',
 'KRW-POLY',
 'KRW-ZRX',
 'KRW-LOOM',
 'KRW-BCH',
 'KRW-BAT',
 'KRW-IOST',
 'KRW-RFR',
 'KRW-CVC',
 'KRW-IQ',
 'KRW-IOTA',
 'KRW-MFT',
 'KRW-ONG',
 'KRW-GAS',
 'KRW-UPP',
 'KRW-ELF',
 'KRW-KNC',
 'KRW-BSV',
 'KRW-THETA',
 'KRW-QKC',
 'KRW-BTT',
 'KRW-MOC',
 'KRW-ENJ',
 'KRW-TFUEL',
 'KRW-MANA',
 'KRW-ANKR',
 'KRW-AERGO',
 'KRW-ATOM',
 'KRW-TT',
 'KRW-CRE',
 'KRW-MBL',
 'KRW-WAXP',
 'KRW-HBAR',
 'KRW-MED',
 'KRW-MLK',
 'KRW-STPT',
 'KRW-ORBS',
 'KRW-VET',
 'KRW-CHZ',
 'KRW-STMX',
 'KRW-DKA',
 'KRW-HIVE',
 'KRW-KAVA',
 'KRW-AHT',
 'KRW-LINK',
 'KRW-XTZ',
 'KRW-BORA',
 'KRW-JST',
 'KRW-CRO',
 'KRW-TON',
 'KRW-SXP',
 'KRW-HUNT',
 'KRW-PLA',
 'KRW-DOT',
 'KRW-SRM',
 'KRW-MVL',
 'KRW-STRAX',
 'KRW-AQT',
 'KRW-GLM',
 'KRW-SSX',
 'KRW-META',
 'KRW-FCT2',
 'KRW-CBK',
 'KRW-SAND',
 'KRW-HUM',
 'KRW-DOGE',
 'KRW-STRK',
 'KRW-PUNDIX',
 'KRW-FLOW',
 'KRW-DAWN',
 'KRW-AXS',
 'KRW-STX',
 'KRW-XEC',
 'KRW-SOL',
 'KRW-MATIC',
 'KRW-NU',
 'KRW-AAVE',
 'KRW-1INCH',
 'KRW-ALGO',
 'KRW-NEAR',
 'KRW-WEMIX',
 'KRW-AVAX',
 'KRW-T',
 'KRW-CELO']

In [48]:
upbit.get_current_price(["KRW-BTC", "KRW-ETH"])

{'KRW-BTC': 50029000.0, 'KRW-ETH': 3480000.0}

In [58]:
ticker = 'KRW-BTC'
interval = "week"
to = "2022-01-01 00:00"
count = 100
upbit.get_ohlcv(ticker=ticker, interval=interval)

,open,high,low,close,volume,value
2018-05-28 09:00:00,8182000.0,8443000.0,7813000.0,8419000.0,35402.938083,2.913398e+11
2018-06-04 09:00:00,8419000.0,8490000.0,7425000.0,7576000.0,25886.893761,2.115380e+11
2018-06-11 09:00:00,7576000.0,7685000.0,6951000.0,7218000.0,27644.405714,2.023231e+11
2018-06-18 09:00:00,7231000.0,7649000.0,6622000.0,6992000.0,31098.078325,2.247231e+11
2018-06-25 09:00:00,6985000.0,7290000.0,6590000.0,7109000.0,25239.926380,1.761383e+11
...,...,...,...,...,...,...
2022-02-21 09:00:00,47133000.0,49010000.0,42580000.0,46358000.0,53085.910824,2.447081e+12
2022-02-28 09:00:00,46363000.0,54829000.0,46086000.0,47745000.0,52532.809872,2.680943e+12
2022-03-07 09:00:00,47782000.0,52300000.0,46525000.0,47510000.0,44922.437353,2.206165e+12
2022-03-14 09:00:00,47500000.0,51350000.0,47186000.0,50462000.0,46456.671166,2.310837e+12
2022-03-21 09:00:00,50471000.0,50756000.0,49832000.0,50089000.0,1355.782770,6.805509e+10

#### 3시 30분 프리하게 데이터 튜닝
1. 주식, 코인 데이터를 가지고 데이터의 갯수 1000개 선택
2. 데이터를 csv로 변환
3. csv를 DB 삽입
4. mysql query데이터를 받아오는데(Module 생성, Class로 구현)
5. 주식의 기준 -> 시가, 종가, 고가, 저가 소수점 2번째 자리까지 유지 반올림.
6. 코인의 기준 -> 볼륨 소수점 2번째 자리까지 유지 반올림.
7. 주식 기준 Nan 값 존재 시작되는 지점의 시가로 변환
8. 컬럼을 하나 추가 등락폭(종가-시가의 값)을 삽입
9. 컬럼을 하나 추가 (등락폭/시가 * 100) 퍼센트를 삽입
10. 데이터의 시각화 -> 시가/ 종가/ 등락폭 / 볼륨 그래프 4개를 한 plot 표시