In [31]:
from pymongo import MongoClient
import pandas as pd

In [32]:
client = MongoClient(
    host='localhost',
    port=27017
)

client.list_database_names()

['admin', 'config', 'local', 'ubion']

In [33]:
db = client['ubion']
pd.DataFrame(db.hmm.find())

,_id,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,623837828fbe7016be228df7,2000-01-04,32438.313019,37235.529303,32438.313019,35590.769531,135433,2632.2966,0.0
1,623837828fbe7016be228df8,2000-01-05,34311.505880,35179.570456,33443.437914,34083.066406,150723,0.0000,0.0
2,623837828fbe7016be228df9,2000-01-06,34951.137225,35819.201872,32118.493623,32255.556641,112202,0.0000,0.0
3,623837828fbe7016be228dfa,2000-01-07,32301.240710,33214.995123,31981.424801,32712.429688,124966,0.0000,0.0
4,623837828fbe7016be228dfb,2000-01-10,32895.179688,33808.937504,32529.680629,32895.179688,171010,0.0000,0.0
...,...,...,...,...,...,...,...,...,...
5564,623837838fbe7016be22a3b3,2022-03-15,34500.000000,34500.000000,34500.000000,34500.000000,0,0.0000,0.0
5565,623837838fbe7016be22a3b4,2022-03-16,32400.000000,33050.000000,31850.000000,32000.000000,5764481,0.0000,0.0
5566,623837838fbe7016be22a3b5,2022-03-17,32000.000000,32000.000000,32000.000000,32000.000000,0,0.0000,0.0
5567,623837838fbe7016be22a3b6,2022-03-18,32800.000000,34200.000000,32650.000000,33950.000000,10611192,0.0000,0.0
5568,623837838fbe7016be22a3b7,2022-03-21,34000.000000,34000.000000,32600.000000,32600.000000,5124276,0.0000,0.0

In [34]:
result = db.hmm.find(
    {},
    {
        'Date':1,
        'Open':1,
        'Close':1,
        'High':1,
        'Low':1,
        'Volume':1,
        '_id':0
    }
)
result = pd.DataFrame(result)

In [40]:
result['UP_DOWN'] = result['Close']-result['Open']
result['UD_RATION'] = result['UP_DOWN']/result['Open']*100
result = result.round(2)
result

,Date,Open,High,Low,Close,Volume,UP_DOWN,UD_RATION
0,2000-01-04,32438.31,37235.53,32438.31,35590.77,135433,3152.46,9.72
1,2000-01-05,34311.51,35179.57,33443.44,34083.07,150723,-228.44,-0.67
2,2000-01-06,34951.14,35819.20,32118.49,32255.56,112202,-2695.58,-7.71
3,2000-01-07,32301.24,33215.00,31981.42,32712.43,124966,411.19,1.27
4,2000-01-10,32895.18,33808.94,32529.68,32895.18,171010,0.00,0.00
...,...,...,...,...,...,...,...,...
5564,2022-03-15,34500.00,34500.00,34500.00,34500.00,0,0.00,0.00
5565,2022-03-16,32400.00,33050.00,31850.00,32000.00,5764481,-400.00,-1.23
5566,2022-03-17,32000.00,32000.00,32000.00,32000.00,0,0.00,0.00
5567,2022-03-18,32800.00,34200.00,32650.00,33950.00,10611192,1150.00,3.51
5568,2022-03-21,34000.00,34000.00,32600.00,32600.00,5124276,-1400.00,-4.12